{% extends "base.html.twig" %}

{# View : Home Page index #}

{% block title %}Réalisations{% endblock %}

	{% block head %}{{ parent() }}{% endblock %}

{% block content %}
<div class="container">
	<h2>{{ block('title') }}</h2>
<!--Openclassrooms-->
<div class="row">
	<div class="openclassrooms">
		<h3>Formation Openclassrooms</h3>
		<p>Différents travaux que j'ai réalisé et validé lors de ma formation "Développeur web junior" chez openclassrooms 2018/2020.<br/>
		Diplôme obtenu RCNP niveau 5 Développeur Web.
		</p>

		<div class="row">
			<!-- Projet 1-->
			<div class="col-sm-4">
				<a href="http://melanie-morice.fr/webagency/" target="_blank"><img class="realisations_img" src="{{ asset('build/images/realisations/projet1.jpg') }}"/></a>
				<h4>Intégrer une maquette</h4>
				<p>Intégrez la maquette du site d'une agence web en HTML5 et CSS3.</p>
				<div class="row logos_language">
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/html.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/css.png') }}"/>
				</div>
			</div>
			<!-- Projet 2-->
			<div class="col-sm-4">
				<a href="https://melanie-morice.fr/projet2/" target="_blank"><img class="realisations_img" src="{{ asset('build/images/realisations/projet2.jpg') }}"/></a>
				<h4>Wordpress</h4>
				<p>Créez un site en personnalisant un thème WordPress.</p>
				<div class="row logos_language">
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/wordpress.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/css.png') }}"/>
				</div>
			</div>
			<!-- Projet 3-->
			<div class="col-sm-4">
				<a href="http://melanie-morice.fr/projet3/" target="_blank"><img class="realisations_img" src="{{ asset('build/images/realisations/projet3.jpg') }}"/></a>
				<h4>Carte interactive</h4>
				<p>Concevez une carte interactive de location de vélos en HTML/CSS/JS et API.</p>
				<div class="row logos_language">
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/html.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/css.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/js.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/json.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/jquery.png') }}"/>
				</div>
			</div>
			<!-- Projet 4-->
			<div class="col-sm-4">
				<a href="http://melanie-morice.fr/MonBlog/" target="_blank"><img class="realisations_img" src="{{ asset('build/images/realisations/projet4.jpg') }}"/></a>
				<h4>Moteur de Blog</h4>
				<p>Créez un blog pour un écrivain. Avec une interface admin : création/modification d'articles et modération des commentaires.</p>
				<div class="row logos_language">
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/html.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/css.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/js.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/php-mysql.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/github.png') }}"/>
				</div>
			</div>
		</div>
	</div>
<!--Entreprises-->
<div class="row">
	<div class="entreprises">
		<h3>Expériences en Entreprises</h3>
		<p>Les entreprises pour lesquelles j'ai travaillé.</p>
		<div class="row">
			<!--Bemlight-->
			<div class="col-sm-4">
				<!--<a href="http://bemlight.fr">--><img class="realisations_img" src="{{ asset('build/images/realisations/bemlight.jpg') }}"/><!--</a>-->
				<h4>Développeuse Web</h4>
				<p>FromScratch Symfony 4, reccueil de besoin, maquettes.</p>
				<div class="row logos_language">
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/Symfony.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/doctrine.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/php.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/twig.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/html.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/css.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/js.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/bootstrap.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/github.png') }}"/>
				</div>
			</div>
			<!-- KMS -->
			<!--
			<div class="col-sm-4">
				<img class="realisations_img" src="{{ asset('build/images/realisations/kms.jpg') }}"/>
				<h4>Consultante informatique web</h4>
				<p>Modernisation des écrans et tests unitaires scala.</p>
				<div class="row logos_language">
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/less.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/scala.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/react.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/gitlab.png') }}"/>
				</div>
			</div>
			-->
			<!-- CPMS -->
			<div class="col-sm-4">
				<img class="realisations_img" src="{{ asset('build/images/realisations/cpms.jpg') }}"/>
				<h4>Développeuse web</h4>
				<p>Développement sur les sites existants.</p>
				<div class="row logos_language">
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/html.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/css.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/js.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/vuejs.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/php-mysql.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/github.png') }}"/>
				</div>
			</div>
		</div>

	</div>
</div>
<!--Projet Personel-->
<div class="row">
	<div class="personal_project">
		<h3>Projet personnel</h3>
		<p>Projets réalisés</p>
		<div class="row">
			<!-- Mon site -->
			<div class="col-sm-4">
				<img class="realisations_img" src="{{ asset('build/images/realisations/melanie.jpg') }}"/>
				<h4>Mélanie MORICE</h4>
				<p>Mon site internet en Symfony 5.</p>
				<div class="row logos_language">
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/Symfony.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/php.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/twig.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/html.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/css.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/js.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/bootstrap.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/github.png') }}"/>
				</div>
			</div>
			<!-- Xelm photography-->
			<div class="col-sm-4">
				<a href="https://xelmphotography.myportfolio.com/" target="_blank"><img class="realisations_img" src="{{ asset('build/images/realisations/xelmphotography.jpg') }}"/></a>
				<h4>Xelm photography</h4>
				<p>Présentation de mon travail de photographe</p>
				<div class="row logos_language">
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/languages/html.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/logiciels/real-pf.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/logiciels/real-behance.png') }}"/>
					<img class="col-sm-2 logo_language" src="{{ asset('build/images/realisations/logiciels/real-Lr.png') }}"/>
				</div>
			</div>
		</div>

	</div>
</div>


</div>




</div>
{% endblock %}