{% extends "base.html.twig" %}

{# View : Presentation Page index #}

{% block title %}Présentation{% endblock %}

	{% block head %}{{ parent() }}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="presentation_description">
			<h2>{{ block('title') }}</h2>
			<p>
				Développeuse Web
				<br/>
				Après avoir effectué une formation de Développeur Web où j'ai obtenu un diplome de niveau 5 (Bac +2).
				J'ai appris tout au long à intégrer une maquette, réaliser une carte intéractive à l'aide d'une Api, mettre en place un site sous Wordpress et créer un blog en php.<br/>
				Pour terminer cette formation j'ai réalisé un stage de 5 mois en entreprise où j'ai pu mettre en avant mes compétences acquises et en apprendre de nouvelles tel que Symfony.
				<br/>
				J'ai fait mes premiers pas en Vue.js et apprendre à travaillé en équipe sur Github en entreprise.
				<br/>
				<br/>
				Actuellement, je travail sur un projet personnel en Wordpress et de petites animations css et scss.
			</p>
		</div>
		<div class="cv">
			<h3>Mon CV :</h3>
			<div><a class="cv_image" href="{{ asset('build/images/cv/Melanie-MORICE_CV.jpg') }}"><img src="{{ asset('build/images/cv/Melanie-MORICE_CV.jpg') }}"/></a></div>
			<div><a class="cv_download btn-theme btn-theme-md btn-default-bg text-uppercase" href="{{ asset('build/images/cv/Melanie_MORICE_CV_DW.pdf') }}" target="_blank"><i class="fas fa-download"></i> pdf</a></div>
		</div>
	</div>
</div>




{% endblock %}